* {
    color: #ECEFD8;
}

.body {
    background-color:#393939;
}

nav li {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #849561;
    }

nav li {
        float: right;
    }

nav li a, .dropbtn{
    display: inline-block;
    color: #ECEFD8;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav li a:hover {
    background-color: #CCD6A6;
}

#world {
    padding: 10px;
    font-family: monospace;
    color: #849561;
}

#sudent {
    padding: 10px;
    font-family: monospace;
    color: #849561;
}