* {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.body {
    background-color:#393939;
}
li {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #849561;
    }

li {
        float: right;
    }
li a, .dropbtn {
    display: inline-block;
    color: #ECEFD8;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover,
    .dropdown:hover .dropbtn {
        background-color: #CCD6A6 ;
}
